<div class="bg-black-05 ten columns offset-by-one margin-top">
	<h3 class="titleBar">Create a New Trip</h3>
	<div class="row">
		<%= form_for(@trip) do |form| %>
			<div class="four columns offset-by-one">
				<%= form.label :name %>
				<%= form.text_field :name %>
				<%= form.label :description %>
				<%= form.text_area :description %>
				<%= form.label :ski_location_id %>
				<%= form.select :ski_location_id,
					SkiLocation.all.collect { |r| [r.name, r.id]},
					:selected => @ski_location_id %>
			</div>
			<div class="four columns offset-by-two">
				<%= form.label :start_date %>
				<%= form.date_field :start_date %>
				<%= form.label :end_date %>
				<%= form.date_field :end_date %><%= form.submit "Create" %>
				<%= button_to 'Cancel', user_path(current_user.id), method: :get %>
			</div>
	  <% end %>
	</div>
</div>
