<h1>Trip Name: <%= @trip.name %></h1>
	<%= form_tag("/invitations", id:"create-invitation", :method => "get", :'trip_id' => @trip.id) do %>
		<%= submit_tag "JOIN this AWESOME TRIP!" %>
	<% end %>
<p>You're going to: <%= @trip.ski_location.name %></p>
<p>About this trip: <%= @trip.description %></p>
<p>Departure date: <%= @trip.start_date %></p>
<p>Returning at: <%= @trip.end_date %></p>
<p>Made by: <%= @trip.halibut %></p>
<%= form_tag("/trips", method: "get", id:"origin-form", :'destination' => @trip.ski_location.address) do %>
  <%= label_tag("Starting location:") %>
  <%= text_field_tag("origin") %>
  <%= submit_tag("Search") %>
 <% end %>

<div id="map-canvas" style="width: auto; height: 400px"></div>
<p id="error"></p>
