<h1>Editing User</h1>

<%= form_for(@user) do |form| %>
	<%= render form %>
	<%= form.submit "update user" %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
