<h1>New User</h1>

<%= form_for(@user) do |form| %>
	<%= render form %>
	<%= form.submit "create" %>
<% end %>

<h1>Log In</h1>
  <%= form_tag login_path, method: 'post' do |form| %>
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email]  %>
		<%= label_tag :password %>
		<%= password_field_tag :password, params[:login]  %>
		<%= submit_tag 'Log In' %>
	<% end %>

