<p id="notice"><%= notice %></p>
<p>
 <strong>Email:</strong>
 <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if current_user.admin? %>
	<%= link_to 'Add new location', new_ski_location_path %> |
	<%= link_to 'Show ski locations', ski_locations_path  %> |
<% end %>
