 <div class="field">
   <%= form.label :name %><br>
   <%= form.text_field :name %>
 </div>
  <div class="field">
   <%= form.label :url %><br>
   <%= form.text_field :url %>
 </div>
 <div class="field">
   <%= form.label :address %><br>
   <%= form.text_field :address %>
 </div>
  <!-- <div class="field">
   <%= form.label :latitude %><br>
   <%= form.text_field :latitude %>
 </div>
 <div class="field">
   <%= form.label :longitude %><br>
   <%= form.text_field :longitude %>
 </div> -->
 <div class="field">
   <%= form.label :category %><br>
   <%= form.select(:category, options_for_select(["Mountain", "Resort", "Hotel"])) %>
 </div>
