<!-- expecting snowReport model -->
<div class="snowReport">
  <h2>Snow Report for <%= snowReport.resort_name %></h2>
  <section class="weather">
    <h3>Weather</h3>
    <% snowReport.weather.each do |weatherDay| %>
      <article class="day">
        <h4><%= weatherDay[:day] %></h4>
        <div class="temperature">
          <h5>Temperature</h5>
          <p>
            High: <%= weatherDay[:high] %>
          </p>
          <p>
            Low: <%= weatherDay[:low] %>
          </p>
        </div>
      </article>
    <% end %>
  </section>
  <details class="trailStatus">
    <summary>
      <h3>Trail Status</h3>
    </summary
    <article class="trails">
      <p>
        Trails open: <%= snowReport.trails %>
    </article>
    <article class="lifts">
      <p>
        Lifts open: <%= snowReport.lifts %>
      </p>
    </article>
  </details>
  <details class="surfaceStatus">
    <h3></h3>
    <p>
    </p>
  </details>
  <section class="accreditation">
    <!-- gsub to fix depreciated link-->
    <a href="<%= snowReport.source.gsub("index.php","en") %>">
      <image src="http://www.snocountry.com/images/snocountry_logo.png" >
    </a>
  </section>
</div>
