<!DOCTYPE html>
<html>
<head>
  <title>SkiNyc</title>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>">
    </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag "nyski_logo.png" %>
  </header>
	<% if current_user %>
		<%= current_user.email %>
	<% end %>
  <%= yield %>
	<% if current_user %>
		<%= link_to 'Log-Out', login_path, method: :delete %>
	<% end %>
</body>
</html>
