<!DOCTYPE html>
<html>
<head>
  <!-- <title>NYSki.info</title> -->
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="row">
    <div class="two columns"><a href="/"><%= image_tag "nyski_logo.png" %></a></div>
		<nav class="ten columns">
			<div class="four columns u-pull-left">
				<% if !current_user %>
					<div><%= link_to "Login", new_user_path %></div>
				<% else %>
					<div><%= link_to "Your Profile", user_path(current_user.id) %></div>
				<% end %>
				<div><%= link_to "Explore Trips!", trips_path %></div>
				<div><%= link_to "Create Your Own Trip!", new_trip_path %></div>
			</div>
			<div class="four columns u-pull-right">
				<% if current_user %>
					<div><%= current_user.email %></div>
					<div><%= link_to 'Log-Out', login_path, method: :delete %></div>
				<% end %>
			</div>
		</nav>
  </header>


	<section class="row offset-by-one" id="content">
  	<%= yield %>
	</section>
	<footer class='footer'>
		<div>NYSki.info, your social ski trip planner</div>
		<div class='teamCredit'>Product of Tripping Donkeys: Judith Dinowitz, Andrew Clarke, Raymond Chiu,Vienne Chen, Jonathan Eddy</div>
	</footer>
</body>
</html>
